// Place all the styles related to the Passwords controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fit_content {
  width: fit-content
}

table.pw_gen_table {
    border-spacing: 2em
}
table.pw_gen_table tr td {
    margin: 1em 0
}

#strength_table {
}

#strength_table td {
    padding: 0 1em
}
#strength_table tr {
    padding: 0 1em
}

#strength_table thead tr:last-child {
  border-bottom: 1px solid #fd0000;
}
#strength_table thead th:nth-child(1) {
    width: 20%
}
#strength_table thead th:nth-child(2) {
    width: 20%
}
#strength_table thead th:nth-child(3) {
     width: 20%
}
#strength_table thead th:nth-child(4) {
      width: 20%
}

table.pw_gen_table .btn {
  padding: 0.1em 1em
}

table.pw_gen_table span.controls {
  padding: 0 0 1em 2em
}