// Place all the styles related to the Passwords controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.pw_gen_table {
    border-spacing: 2em;
}
table.pw_gen_table tr td {
    margin: 1em 0
}

#strength_table td {
    padding: 1em
}
#strength_table tr {
    padding: 1em
}

#strength_table thead th:nth-child(1) {
    width: 20%
}
#strength_table thead th:nth-child(2) {
    width: 20%
}
#strength_table thead th:nth-child(3) {
     width: 20%
}
#strength_table thead th:nth-child(4) {
      width: 20%
}