%header{class: "dcf-header site-header dcf-d-flex dcf-ai-center dcf-bb-1 dcf-bb-solid unl-bb-lighter-gray login-card-pt login-card-px", id: "dcf-header", role: "banner"}
  .content.dcf-bleed
    .dcf-header-global.dcf-wrapper.dcf-d-flex.dcf-flex-row.dcf-flex-nowrap.dcf-ai-center.dcf-jc-between.dcf-relative.dcf-bt-solid.dcf-bt-3.unl-bt-scarlet{style: "width: -moz-available;"}
      %a.dcf-institution-title.dcf-flex-shrink-0.dcf-pt-3.dcf-pb-3.dcf-txt-xs.unl-ls-3{href: "https://unl.edu"}
        %span.dcf-uppercase.unl-font-serif-ltd-caps.text-uppercase
          University
        %span.dcf-italic.unl-font-serif-ltd-italic.font-italic
          of
        %span.dcf-uppercase.unl-font-serif-ltd-caps.text-uppercase
          Nebraska&nbsp;&mdash;&nbsp;Lincoln
    %div#dcf-logo.dcf-logo.dcf-flex-row.dcf-d-flex.dcf-wrapper.dcf-ai-flex-end.dcf-relative.dcf-overflow-hidden
      %noscript
        %div#wdn_noscript_padding
      .dcf-logo-lockup.dcf-wrapper.dcf-relative.dcf-d-flex
        .dcf-header-logo.dcf-d-flex
          = render 'layouts/unl_header.html'