%header#login-header.dcf-d-flex.dcf-ai-center.dcf-pb-4.dcf-bb-1.dcf-bb-solid.unl-bb-lighter-gray.login-card-pt.login-card-px{role: "banner"}
  %div{:id => "dcf-d-flex dcf-flex-col img-wrapper"}
    %a.dcf-header-logo.dcf-flex-shrink-0{"aria-label" => "Go to UNL Computer Science home page", :href => "https://unl.edu/"}
      %svg.dcf-d-block.dcf-h-8.dcf-w-8{:focusable => "false", :height => "61", :viewbox => "0 0 152 152", :width => "61"}
        %polygon{:fill => "#d00000", :points => "152 45 152 0 88 0 88 45 98 45 98 69.78 54 0 0 0 0 45 10 45 10 107 0 107 0 152 64 152 64 107 54 107 54 82.22 98 152 152 152 152 107 142 107 142 45 152 45"}
        %polygon{:fill => "#fff", :points => "150 43 150 2 90 2 90 43 100 43 100 76.67 53 2 52 2 2 2 2 43 12 43 12 109 2 109 2 150 62 150 62 109 52 109 52 75.34 99 150 100 150 150 150 150 109 140 109 140 43 150 43"}
        %polygon{:fill => "#d00000", :points => "146 39 146 6 94 6 94 39 104 39 104 90 51 6 48 6 6 6 6 39 16 39 16 113 6 113 6 146 58 146 58 113 48 113 48 62 101 146 104 146 146 146 146 113 136 113 136 39 146 39"}
  .dcf-site-group.dcf-d-flex.dcf-flex-col.dcf-jc-center.dcf-pl-3
    #dcf-site-affiliation.dcf-site-affiliation.dcf-lh-3.dcf-txt-2xs
      %a.dcf-link{:href => "https://computing.unl.edu"} School of Computing
      %span.spacer_span
          ♦  
      %a.dcf-link{:href => "https://engineering.unl.edu"} College of Engineering
      %span.spacer_span
          ♦  
      %a.dcf-link{href: "https://cse.unl.edu/~wmotycka"} Wayne Motycka
    #dcf-site-title.dcf-site-title.dcf-bold.dcf-lh-2.unl-ls-1
      %h5#login-pagetitle.dcf-mb-0.dcf-txt-base.dcf-lh-2
        %span.dcf-txt-h5.unl-ls-1
          %a.dcf-pagetitle{:href => "/"} Random Password Tool
